#main-board-container {
  position: absolute;
  left: 8%;
  top: 5%;
  height: 75%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#question-title-container {
  max-width: 80%;
}

#question-text {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  background: -webkit-linear-gradient(#eee, rgb(132, 209, 171));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 95%;
  animation: 2s fadein linear 0s normal both;
}

#option-and-clock-container {
  display: flex;
  justify-content: left;
  width: 70%;
  margin-top: -2%;
}

#options-container {
  height: 20%;
  width: 50%;
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#clock {
  background: -webkit-linear-gradient(#eee, rgb(132, 209, 171));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 2s fadein linear 0s normal both;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 70px;
}

#options-ul {
  height: 40%;
  display: flex;
  flex-direction: column;
}


