.option-text {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2vw;
    background: -webkit-linear-gradient(#eee, rgb(132, 209, 171));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: writing 5s linear 0s normal both;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes writing {
  from { width: 0% }
  to { width: 100% }
}

.option-text:hover {
    background: -webkit-linear-gradient(#eee, rgb(221, 221, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.option-container {
    min-width: 40%;
}

